body {
    margin: 0;
    background: linear-gradient(170deg, rgba(45,140,25,1), rgba(45,140,25,0.3)100%),
                linear-gradient(340deg, rgba(0,200,225,1), rgba(0,200,255,0)70%),
             	linear-gradient(360deg, rgba(30,120,220,.8), rgba(0,200,255,0)70%),
                linear-gradient(0, rgba(0,0,0,.2), rgba(0,0,0,0));
    font-family: sans-serif;
}

.result-screen {
	color: white;
	padding: 0px 3%;
}

.playlist {
	margin-top: 0%;
	margin-left: 5%;
	padding: 10px;
	width: 80%;
	height: 60%;
	text-align: justify;
}

.element {
	margin:0 13px;
	display: inline-block;
	width: 220px;
	height: 20px;
	text-align:left;
}

.title {
	margin-left: 5%;
}