body {
    margin: 0;
    overflow: hidden;
}

#empty {
    background: radial-gradient(ellipse at left, rgba(45,140,25, .5), transparent),
                radial-gradient(ellipse at top left, rgba(45,140,25, .7), transparent),
                radial-gradient(ellipse at bottom left, rgba(45,140,25, .8), transparent),
                radial-gradient(ellipse at bottom right, rgba(0,200,255, 1), transparent),
                radial-gradient(ellipse at top right, rgba(0,200,255, 1), transparent),
                radial-gradient(ellipse at right, rgba(0,200,255, 1), transparent);
    height: 100%;
    width: 100%;
}

#empty-bar a:link, #empty-bar a:visited {
    background-color: rgba(74,183,26,1);
    color: white;
    position: fixed;
    display: inline-block;
    margin: auto;
    text-decoration: none;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 240px;
    height: 33px;
    border-radius: 50px;
    padding: 2.4% 5%;
    font-weight: bold;
    font-size: 30px;
}

input[type=search]:focus {
  font-weight: bold;
}

input[type=search] {
  background-repeat: no-repeat;
  padding: 12px 20px;
  margin: 8px 0;
}

#not-empty {
    background: linear-gradient(140deg, rgba(45,140,25,1), rgba(45,140,25,0.2)100%),
                linear-gradient(320deg, rgba(0,200,225,1), rgba(0,200,255,0)80%),
                linear-gradient(280deg, rgba(30,120,220,.5), rgba(30,120,220,0)70%),
                linear-gradient(0, rgba(0,0,0,.8), rgba(0,0,0,0));
    font-family: sans-serif;
    overflow: hidden;
}

#wrapper {
  display: flex;
  overflow: hidden;
  height: 100%;
  width: 95%;
  color: white;
  padding-left: 1%;
}

.col_playlist {
    height: 92%;
    width: 70%;
    padding: 0px 1%;
    overflow: hidden;
}

.col {
    height: 92%;
    width: 100%;
    overflow: hidden;
}

.part-name {
    padding: 0px 3%;
    font-size: 20px;
}

.col-inner {
    height: 80%;
    width: 100%;
    padding: 0 30px;
    overflow-y: scroll;
    box-sizing: content-box;
    font-family: Verdana;
}

#song-search{
    width: 95%;
}

#artist-search{
    width: 95%;
}