#wrapper {
    display: flex;
    overflow-y: hidden;
    height: 92%;
    width: 100%;
    color: white;
}

::-webkit-scrollbar {
  width: 15px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #369e40;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: green;
}

.col {
  height: 100%;
  width: 100%;
  padding: 0px 2%;
  overflow: hidden;
}

.title{
    padding: 2% 0px;
    font-size: 23px;
}

.song_listed{
/*border:1px solid orange;*/
    height: 80%;
    width: 100%;
    padding: 0 50px;
    overflow-y: scroll;
    box-sizing: content-box;
    font-weight: bolder;
    font-family: Verdana;
}

.general_infos{
    padding-top: 3%;
    padding-left: 1%
}

.infos{
    height: 98%;
    font-size: 20px;
    overflow-y: scroll;
    font-weight: bolder;
    font-family: Verdana;
}

.container {
    padding = 0;
    width: 80%;
    height: 0px;
}

.container img {
    padding-left: 10%;
    width: 100%;
    height: auto;
}


.result_screen{
    color: white;
    height: 90%;
}

.btn{
    height: 100%;
    width: 100%;
    border: none;
    background-color: inherit;
    font-size: 18px;
    cursor: pointer;
    display: inline-block;
    color: black;
    font-weight: bold;
}

.btn:hover{
    font-size: 28px;
    vertical-align: middle;
    font-weight: bolder;
    color: #0F0F0F;
}

.playlist_wrapper{
    padding-left: 40px;
    height: 80%;
    width: 95%;
    overflow: hidden;
}

.playlist_list{
    padding-top: 10px;
    vertical-align: middle;
    text-align: center;
    height: 40px;
    width: 17%;
    float: left;
}
