.top-bar {
   background-color: #202020;
   padding: 10px 10px;
   font-weight: bold;
   width:auto;
}

.top-bar a:link, .top-bar a:visited {
    border-radius: 50px;
    background-color: #81b71a;
    color: white;
    padding: 10px 20px;
    margin-left: 10px;
    text-decoration: none;
    display: inline-block;
}

.top-bar a:hover {
  color: #00003D;
  background-color: #279E12;
}