{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'connection.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'top-bar.css' %}">
<!DOCTYPE html>

<html>
<body>
    <div class="top-bar">
        <nav>
            <a href='/home'>Home</a>
            <a href='/playlists'>Playlists</a>
            <a href='/connection'>Spotify connection</a>
        </nav>
    </div>
    <div class="result-screen">
        <h3>Connected</h3>
        Username: {{ username }} <br>
        scope: {{ scope }}<br>
        <br>
        Current playlists:
        <div class="playlist">
            {% for key, value in playlist.items %}
                <div class="element">
                    {{ value.name }}
                </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
