{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'home.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'top-bar.css' %}">
<!DOCTYPE html>

<html>
<body>
{% if not playlist %}
<div id="empty">
    <nav id="empty-bar">
        <a href='/connection'>Connect to Spotify</a>
    </nav>
</div>
{% else %}
<div id="not-empty">
<div class="top-bar">
    <nav>
        <a href='/home'>Home</a>
        <a href='/playlists'>Playlists</a>
        <a href='/connection'>Spotify connection</a>
    </nav>
</div>
<div id="wrapper">
    <div class="col_playlist">
        <div class="part-name">
            <form>
                <input type="search" style="background:transparent; border:none;" disabled>
            </form>
            <h1>Playlists</h1>
        </div>
        <div class="col-inner">
            <div id="playlist">
                    <ol>
                        {% for key, value in playlist.items %}
                            <li>{{ value.name }}</li>
                        {% endfor %}
                    </ol>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="part-name">
            <h1>Song search</h1>
            <div class="search-bar song">
                <form>
                    <input type="search" class="song_search_bar" placeholder="Search.." name="search_song">
                </form>
            </div>
        </div>
        <div class="col-inner">
            <div id="song-search">
                <strong>Search request:</strong> {{ search_song_term }}
                <ol>
                {% for key, value in search_song_result.items %}
                    <li><strong>{{ key }}</strong></li>
                    <ol>
                        {% for song_name in value %}
                            <li>{{ song_name }}</li>
                        {% endfor %}
                    </ol>
                    <br>
                {% endfor %}
                </ol>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="part-name">
            <h1>Artist search</h1>
            <div class="search-bar artist">
                <form>
                    <input type="search" class="artist_search_bar" placeholder="Search.." name="search_artist">
                </form>
            </div>
        </div>
        <div class="col-inner">
            <div id="artist-search">
                <strong>Search request:</strong> {{ search_artist_term }}
                <ol>
                {% for key, value in search_artist_result.items %}
                    <li><strong>{{ key }}</strong></li>
                    <ol>
                        {% for artist_name in value %}
                            <li>{{ artist_name }}</li>
                        {% endfor %}
                    </ol>
                    <br>
                {% endfor %}
                </ol>
            </div>
         </div>
    </div>
</div>
</div>
{% endif %}
</body>
</html>