{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'connection.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'top-bar.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'playlist_page.css' %}">
<!DOCTYPE html>

<html>
<body>
    <div class="top-bar">
        <nav>
            <a href='/home'>Home</a>
            <a href='/playlists'>Playlists</a>
            <a href='/connection'>Spotify connection</a>
        </nav>
    </div>
    {% if playlist_id != '' %}
    <div id="wrapper">
        <div class="col">
            {% for key, value in playlist.items %}
                {% if key == playlist_id %}
                    <div class="title">
                        <h1>{{ value.name }}</h1>
                    </div>
                        <div class="song_listed">
                        <ol>
                            {% for song in value.songs %}
                                <li>{{ song }}</li>
                            {% endfor %}
                        </ol>
                        </div>

                {% endif %}
            {% endfor %}
             </div>
        <div class="col">
            <div class="infos">
                <div class="general_infos">
                    {{nb_tracks}} tracks <br>
                    {{nb_artists}} artists <br>
                    Longest track: {{longest_track_name}} - {{longest_track_duration}}<br>
                    Shortest track: {{shortest_track_name}} - {{shortest_track_duration}}<br><br>
                </div>
                <div class="container">
                    Playlist duration {{total_duration}}<br>
                    Mean track length {{mean_duration}}<br><br>
                    <div class="chart">
                        {%  if chart_duration %}
                            <img src="data:image/png;base64, {{ chart_duration|safe }}">
                        {% endif %}
                    </div>
                    <br>Median release date at {{median_rlse}}<br><br>
                    <div class="chart">
                        {%  if chart_rlse_dte %}
                            <img src="data:image/png;base64, {{ chart_rlse_dte|safe }}">
                        {% endif %}
                    </div>
                    <br>Mean popularity around {{mean_popularity}}<br><br>
                    <div class="chart">
                        {%  if chart_popularity %}
                            <img src="data:image/png;base64, {{ chart_popularity|safe }}">
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% else %}
    <div class="result_screen">
        <div class="title">
            <h1>Playlists</h1>
        </div>

        <div class="playlist_wrapper">
            {% for key, value in playlist.items %}
                <div class="playlist_list">
                    <form>
                        <button class="btn" name="playlist_id" value={{ key }}>{{ value.name }}</button>
                    </form>
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}
</body>
</html>
